@mixin mobile {
    @media screen and (max-width: 570px) {
        @content;
    }
}

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MAIN */

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/background.jpg") no-repeat center center;
    background-size: cover;
    padding: 2.5rem;
}

.container {
    position: relative;
    width: 490px;
    height: 490px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 11px 13px rgba(0,0,0,.5);

    @include mobile {
        height: 0;
        padding-bottom: 100%;
    }

    &:hover .cover .image:last-child{
        transform: rotateY(-50deg);
        box-shadow: 8px 8px 10px rgba(0,0,0,.35);
    }

    &:hover .actions {
        transition: z-index .2s .2s;
        z-index: 10;
    }

    .actions {
        position: relative;
        float: right;
        border-radius: 6px;
        z-index: 0;

        img {
            display: block;
            cursor: pointer;
            opacity: .65;
            width: 30px;
            margin: 1.2rem 1.1rem 2.2rem 0;
            transition: opacity .1s;

            @include mobile {
                width: 20px;
                margin: .9rem .8rem 1.6rem 0;
            }

            &:hover {
                opacity: 1;
            }
        }
    }

    .cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        perspective: 1900px;
        z-index: 1;
        display: flex;
        
        .image {
            background: url("../img/kanye.jpg") no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
            
            &:first-child {
                border-radius: 6px 0 0 6px;
                background-position: 12% 0;
            }
            
            &:last-child {
                border-radius: 0 6px 6px 0;
                background-position: 90% 0;
                transform-style: preserve-3d;
                transform-origin: left;
                transition: .2s;
            }

        }
    }
}